<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Editar Cotação</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema Cotação</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!-- Navbar -->
 
 <div class="container">
           <div class="row">
               <div class="col-md-6 offset-md-3 ">
                   <div class="card">
                       <div class="card-body">
                       
                       <h4 class="text-center text-primary">Editar Formulario Cotação</h4>
                       
                      
                        <div th:if="${session.msg}">
                            <h5 class="text-center text-success" th:text="${session.mgs}"></h5>
                            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                        </div>
                       
       <form th:action="@{/update_clientes}" method="post"> 
       
       <input type="hidden" th:value="${cliente.id}" name="id">
       
      <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nome" th:value="${cliente.nome}">
   
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" th:value="${cliente.email}">
    
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Endereço</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="endereco" th:value="${cliente.endereco}">
    
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Cep</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="cep" th:value="${cliente.cep}">
    
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Destino</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="destino" th:value="${cliente.destino}">
    
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Quantidade</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="quantidade" th:value="${cliente.quantidade}">
    
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Forma de Pagamento</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="formapag" th:value="${cliente.formapag}">
    
  </div>
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>
                       
                       
                       
                       </div>
                    </div>
                 </div>
            </div>   
       </div>   







<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>