<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cotação</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema Cotação</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!-- Navbar -->
<div class="container p-5">
   <div class="row">
      <div class="col-md-10 offset-md- w-100">
      <div class="card">
      
      
                        <div th:if="${session.msg}">
                            <h5 class="text-center text-success" th:text="${session.mgs}"></h5>
                            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                        </div>
      
      <div class="card-header ">
      <a href="load_form" class="btn btn-primary">Add Cotação</a>
      </div>
      
          <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Endereço</th>
      <th scope="col">Cep</th>
      <th scope="col">Destino</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Forma de Pagamento</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="p : ${all_clientes}">
      <th scope="row">[[${p.id}]]</th>
      <td>[[${p.nome}]]</td>
      <td>[[${p.email}]]</td->
      <td>[[${p.endereco}]]</td>
      <td>[[${p.cep}]]</td>
      <td>[[${p.destino}]]</td>
      <td>[[${p.quantidade}]]</td>
      <td>[[${p.formapag}]]</td>
      <td>
      <a th:href="@{'/edit_form/'+${p.id}  }"class="btn btn-sm btn-primary">Edit</a>
      <a th:href="@{'/delete/'+${p.id}}" class="btn btn-sm btn-danger">Delete</a>
      
      </td>
    </tr>
    
    
  </tbody>
</table>      
      
      </div>
      </div>
   </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>